.teles{
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: rgb(143, 137, 137);
  margin-bottom: 24px;
 }


 @media (max-width: 600px){
  .teles{
    flex-direction: column;
  }
 }


 .hem:hover{
  color: white;
 }


 .relo:hover{
  color: white;
 }


 .vem:hover{
  color: white;
 }





 .helu{
   display: block;
   text-align: center;

 }


 .butt{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   height: 150px;
   margin-top: 95px;
 }


 button:hover{
    background: rgb(85, 83, 83);
    color: white;

 }


 .butto:hover{
    background: green;
    color: white;
  }


  button{
  animation: pulse 2s infinite;
 }


 .button{
  animation: none;
 }


 @keyframes pulse{
  50% {transform: scale(2)}
 }





 .holunt{
  animation: none;
  width: 250px;
  height: 65px;
 }


 .products{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
   gap: 450px;
   margin-top: 24px;
 }


 .product-card{
   display: flex;
   flex-direction: column;
   height: 100%;
   border: 1px solid color #ccc;
   padding: 10px;
 }


 .product-content{
   flex-grow: 1;
 }


 .product-actions{
   display: flex;
   justify-content: space-between;
   margin-top: auto;
   }


   .cards{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
 }


 .card{
    border: none;
    border-radius: 25px;
    font-size: 50px;
  }


  .butto{
  animation: none;
 }

 @keyframes pulse{
  50% {transform: scale(2)}
 }


 .button:hover{
    background: orange;
    color: white;
  }


  .tel{
  display: flex;
  Justify-content: space-around;
  text-align: center;
  background: rgb(44, 43, 43);
  padding: 150px;
  margin-top: 75px;
 }


 .hemon{
  color: rgb(116, 109, 109);
 }


 .relon{
  color:rgb(116, 109, 109);
 }


 .vemol{
  color:rgb(116, 109, 109);
 }


 .hemon:hover{
  color: white;
 }


 .relon:hover{
  color: white;
 }


 .vemol:hover{
  color: white;
 }


  @media (max-width: 600px){
  .tel{
    flex-direction: column;
  }
 }
